body {
    padding-top: 50px;
    padding-bottom: 20px;


}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.jumbotron {
    min-height: 500px; 
    max-height: 1300px; 
    width: 100%; 
    margin: 0 auto; 
    background: url("sliderImage1.jpg") no-repeat; 
    background-size: 100% auto; 
    background-position: center top; 
    background-color: aquamarine; 

}