@{
    ViewBag.Title = "Home Page";
}

<div class="sliderBlock1"></div>


<div class="jumbotron sliderBlock1">
    <h1>Abstract Gymnastics</h1>
    <p class="lead">Vestibulum su bibendum nec quam eget mattis.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere, elit eget scelerisque volutpat, lorem odio porta nibh, quis semper mauris dui ac turpis. Integer tristique po
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere, elit eget scelerisque volutpat, lorem odio porta nibh, quis semper mauris dui ac turpis. Integer tristique</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur posuere, elit eget scelerisque volutpat, lorem odio porta nibh, quis semper mauris dui ac turpis. Integer tristique</p>
    </div>
</div>